.playlistItem {
    :global {
        .play-button {
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: 25px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity transform 0.1s;
            background-color: rgba($color: #fff, $alpha: 0.5);
            &:hover {
                opacity: 1;
            }
            &:active {
                transform: translate(-50%, -50%) scale(0.9);
            }
        }
        .playcount {
            height: 12px;
            position: relative;
            color: #9b9b9b;
            display: flex;
            margin-bottom: 3px;
            span {
                position: absolute;
                left: 18px;
                font-size: small;
            }
        }
        .description {
            display: block;
            margin-top: 10px;
            color: #000;
            font-weight: 700;
        }
    }
}
