.playlistItem {
    :global {
        .play-button {
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: 25px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
            opacity: 0;
            transition: opacity 0.1s 0.1s;
            &:hover {
                box-shadow: 0 0 8px #fff;
                opacity: 0.8;
            }
        }

        .description {
            display: block;
            margin-top: 10px;
            color: #000;
            font-weight: 700;
        }
    }
}
