.recommend-playlist {
    :global {
        .playlist {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 0px 20px;
        }

        .listitem {
            width: 100%;
        }
    }
}
