.MvsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 40px 20px;
    :global {
        .Item {
            .name {
                font-weight: 700;
            }
            .date {
                font-size: x-small;
            }
        }
    }
}
