.play-mode {
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    .icon {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0px 5px;
        &:hover {
            color: #666;
        }
    }
}
