.recent-songlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px 100px;
    .item {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #f5f5f7;
        border-radius: 8px;
    }

    img {
        border-radius: 8px;
        height: 60px;
        width: 60px;
    }

    .information {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .song-title {
        color: #222;
    }

    .singer {
        font-size: 12px;
        color: #bbb;
        white-space: nowrap;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
