// .title {
//     font-size: 20px;
//     font-weight: bold;
//     & > span {
//         font-size: 12px;
//         color: #666;
//     }
// }

// .image {
//     height: 300px;
//     & > img {
//         height: 100%;
//         width: 100%;
//     }
// }
.header {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 60px;
    :global {
        .right {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .rightName {
            font-size: 56px;
            font-weight: 700;
            line-height: 56px;
            margin: 20px 0px;
        }
        .Size {
            font-size: 14px;
            margin-bottom: 20px;
            font-weight: 700;
        }
    }
}
