.hot-singer {
        .playlist {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: auto;
            gap: 30px 15px;
        }

        .listitem {
            width: 100%;
        }

        
        // 让图片宽高相同
        // padding 使用百分比是相对于父 width 的
        .image {
            backdrop-filter: blur(8px);
            display: block;
            position: relative;
            padding-bottom: 100%;
            overflow: hidden;
            cursor: pointer;
            border-radius: 50%;
            margin-bottom: 5px;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .name{
            display: block;
            text-align: center;
            font-weight: 700;
        }
}
