.new-album {
    :global {
        .albumList {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 25px 20px;
        }

        .listitem {
            width: 100%;
        }

        // 让图片宽高相同
        // padding 使用百分比是相对于父 width 的

        .SingerName {
            color: #000;
            font-size: 12px;
        }
    }
}
